* {
  box-sizing: content-box;
  margin: 0px;
}

.container {
display: flex;
justify-content: center;
}

.cell {
  display: block;
  position: relative;
  border: 1px solid grey;
  margin: 2%;
  flex-basis: 20%;
  cursor: pointer;
}
